<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>lois-cake-reserve</title>
    <!-- HTMX: 부분 갱신용 (CDN) -->
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>


    <link rel="stylesheet" th:href="@{/css/index.css}">

    <link rel="stylesheet" th:href="@{/css/steps1.css}">

</head>
<body>

<div class="wrap">


    <!-- ✨ 공통 헤더 -->
    <header th:replace="~{fragments/header :: site-header}"></header>

    <main>

        <div id="step-container"
             hx-get="/reservations/step/1"
            hx-trigger="load"
            hx-target="#step-container"
            hx-swap="innerHTML">
            <!-- 조각(fragment)이 삽입됨 -->
        </div>
    </main>

    <!-- ✨ 공통 푸터 -->
    <footer th:replace="~{fragments/footer :: site-footer}"></footer>

</div>

</body>
</html>
