### Build / IDE ###
target/
build/
.gradle/
out/

.idea/
.vscode/
.DS_Store
*.iml
*.class
*.log

### JAR ###
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar

### Secrets ###
.env
gradle.properties

### Spring Config (모든 민감 설정 차단) ###
application*.yml
application*.yaml
application*.properties

# 혹시 강제로 명시
src/main/resources/application.yaml
src/main/resources/application-local.yaml
src/main/resources/application-dev.yaml
src/main/resources/application-prod.yaml

### Webapp view files (버전관리 원하지 않을 때) ###
src/main/webapp/