target/
.idea/
*.iml
*.log
.gradle/
build/
.DS_Store
.env
*.yml

.vscode/
*.class
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar
application*.yml
application*.yaml
application*.properties
gradle.properties

src/main/resources/application-local.yml
src/main/resources/application-*.yml
src/main/resources/application-*.yaml
out/

# exclude webapp view files
src/main/webapp/

src/main/java/com/lois/management/config/GlobalExceptionHandler.java
src/main/java/com/lois/management/domain/dto/ReservationRes.java
src/main/java/com/lois/management/domain/dto/ReservationSummaryRes.java
src/main/java/com/lois/management/domain/dto/ReservationUpdateReq.java