target/
.idea/
*.iml
*.log
.gradle/
build/
.DS_Store
.env
*.yml

.vscode/
*.class
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar
application*.yml
application*.yaml
application*.properties
gradle.properties

src/main/resources/application.yaml
out/

# exclude webapp view files
src/main/webapp/