<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Lois – Cake Reservations</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>


</head>

<body>
<div th:fragment="requestDetail(stockRequest)"
     class="request-detail-card">

    <h3 th:text="${stockRequest.itemName}">아이템 이름</h3>

    <p>
        <strong>요청일:</strong>
        <span th:text="${#temporals.format(stockRequest.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
    </p>

</div>

</body>
</html>
