<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lois.management.mapper.CakeMovementMapper">

    <!-- 조회 -->
    <select id="findById" resultType="CakeMovement">
        SELECT
        *
        FROM cake_movements
        WHERE id = #{id}
    </select>

    <select id="sumStockByDate" resultType="CakeMovement">
        SELECT
        m.cake_size AS cakeSize,
        m.cake_id   AS cakeId,
        COALESCE(SUM(m.delta), 0) AS stock
        FROM cake_movements m
        WHERE m.biz_date = #{today}
        GROUP BY m.cake_size, m.cake_id
    </select>

    <select id="getStockByKey" resultType="int">
        SELECT COALESCE(SUM(m.delta), 0)
        FROM cake_movements m
        WHERE m.biz_date = #{bizDate}
        AND m.cake_id = #{cakeId}
        AND m.cake_size = #{cakeSize}
    </select>

    <select id="getReservationIdsByProduced" resultType="long">
        SELECT m.reservation_id
        FROM cake_movements m
        WHERE m.biz_date = #{bizDate}
        AND m.cake_id = #{cakeId}
        AND m.cake_size = #{cakeSize}
        AND m.reservation_id IS NOT NULL
        GROUP BY m.reservation_id
        HAVING SUM(
        CASE
        WHEN m.move_type = 'PRODUCED' THEN 1
        WHEN m.move_type = 'UNDO_PRODUCED' THEN -1
        ELSE 0
        END
        ) > 0
        ORDER BY m.reservation_id;
    </select>

    <!-- 삽입/수정 -->
    <insert id="insertMovement" parameterType="CakeMovement" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cake_movements
        (biz_date, cake_id, cake_size, delta, move_type, reservation_id, request_id, memo)
        VALUES
        (#{bizDate}, #{cakeId}, #{cakeSize}, #{delta}, #{moveType}, #{reservationId}, #{requestId}, #{memo})
    </insert>

    <update id="addReservationId">
        UPDATE cake_movements
        SET reservation_id = #{reservationId}
        WHERE id = #{id}
    </update>

</mapper>