<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lois.management.mapper.EmployeeMapper">

    <select id="findAll" resultType="Employee">
        SELECT id, employee_name, phone, note, created_at, updated_at
        FROM employees
        ORDER BY id DESC
    </select>

    <select id="findById" parameterType="long" resultType="Employee">
        SELECT id, employee_name, phone, note, created_at, updated_at
        FROM employees
        WHERE id = #{id}
    </select>

    <select id="findByEmployeeName" parameterType="String" resultType="Employee">
        SELECT id, employee_name, password, phone
        FROM employees
        WHERE employee_name = #{employeeName}
    </select>

    <insert id="create" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employees (employee_name)
        VALUES (#{employeeName})
    </insert>

    <update id="update" parameterType="Employee">
        UPDATE employees
        SET employee_name = #{employeeName},
        phone = #{phone},
        note = #{note}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM employees WHERE id = #{id}
    </delete>

</mapper>